body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(20, 20, 20);
}
#slide-puzzle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background: white;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1);
}
#board {
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 2rem;
  font-weight: bold;
  border: 0.2rem solid black;
  border-radius: 1rem;
  cursor: pointer;
  user-select: none;
  color: black;
  background-color: cornflowerblue;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.tile:hover {
  background-color: darkblue;
  color: white;
}
